.weather-icon-container {
  margin-right: 8px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.weather-icon-vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.weather-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: 400px;
}

.temperature-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 0 0 40%;
}

.weather-icon {
  flex: 0 0 30%;
}

.temperature {
  font-size: 48px;
  margin: auto;
}

.temperature-range {
  font-size: 20px;
  margin: auto;
}

.rain-container {
  white-space: nowrap;
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}

.rain-inner {
  display: flex;
  justify-content: flex-start;
}
